MisEjercicios/toDoSOAP_Client-ws/src/main/wsdl/ToDoSOAP_ClientService.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bigws.toDo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bigws.toDo/" name="ToDoWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://bigws.toDo/" schemaLocation="toDo.xsd"/>
</xsd:schema>
</types>
<message name="addToDo">
<part name="parameters" element="tns:addToDo"/>
</message>
<message name="addToDoResponse">
<part name="parameters" element="tns:addToDoResponse"/>
</message>
<message name="removeToDo">
<part name="parameters" element="tns:removeToDo"/>
</message>
<message name="removeToDoResponse">
<part name="parameters" element="tns:removeToDoResponse"/>
</message>
<message name="listToDo">
<part name="parameters" element="tns:listToDo"/>
</message>
<message name="listToDoResponse">
<part name="parameters" element="tns:listToDoResponse"/>
</message>
<message name="listToDoFilter">
<part name="parameters" element="tns:listToDoFilter"/>
</message>
<message name="listToDoFilterResponse">
<part name="parameters" element="tns:listToDoFilterResponse"/>
</message>
<portType name="ToDoWebService">
<operation name="addToDo">
<input wsam:Action="http://bigws.toDo/ToDoWebService/addToDoRequest" message="tns:addToDo"/>
<output wsam:Action="http://bigws.toDo/ToDoWebService/addToDoResponse" message="tns:addToDoResponse"/>
</operation>
<operation name="removeToDo">
<input wsam:Action="http://bigws.toDo/ToDoWebService/removeToDoRequest" message="tns:removeToDo"/>
<output wsam:Action="http://bigws.toDo/ToDoWebService/removeToDoResponse" message="tns:removeToDoResponse"/>
</operation>
<operation name="listToDo">
<input wsam:Action="http://bigws.toDo/ToDoWebService/listToDoRequest" message="tns:listToDo"/>
<output wsam:Action="http://bigws.toDo/ToDoWebService/listToDoResponse" message="tns:listToDoResponse"/>
</operation>
<operation name="listToDoFilter">
<input wsam:Action="http://bigws.toDo/ToDoWebService/listToDoFilterRequest" message="tns:listToDoFilter"/>
<output wsam:Action="http://bigws.toDo/ToDoWebService/listToDoFilterResponse" message="tns:listToDoFilterResponse"/>
</operation>
</portType>
<binding name="ToDoWebServicePortBinding" type="tns:ToDoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listToDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listToDoFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ToDoWebServiceService">
<port name="ToDoWebServicePort" binding="tns:ToDoWebServicePortBinding">
<soap:address location="http://localhost:8081/toDo"/>
</port>
</service>
</definitions>